.table-striped tbody > tr:nth-child(odd) > td.sichtweite105,
td.sichtweite105 {
	background-color: #8f5d4f;
}
.table-striped tbody > tr:nth-child(odd) > td.sichtweite106,
td.sichtweite106 {
	background-color: #a28274;
}
.table-striped tbody > tr:nth-child(odd) > td.sichtweite107,
td.sichtweite107 {
	background-color: #a3a7ab;
}
.table-striped tbody > tr:nth-child(odd) > td.sichtweite108,
td.sichtweite108 {
	background-color: #9ab5c9;
}
.table-striped tbody > tr:nth-child(odd) > td.sichtweite109,
td.sichtweite109 {
	background-color: #a6d6ec;
}
.table-striped tbody > tr:nth-child(odd) > td.sichtweite110,
td.sichtweite110 {
	background-color: #beedff;
}
.table-striped tbody > tr:nth-child(odd) > td.sichtweite111,
td.sichtweite111 {
	background-color: #e5faff;
}
.sichtweiten-container td.datum {
	width: 10%;
}
.sichtweiten-container td.tiefe {
	width: 9%;
}
.sichtweiten-container td.kommentar {
	width: 20%;
}
