<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset
		name="component"
	>
		<field
			name="list_period"
			type="number"
			label="COM_SICHTWEITEN_FIELD_LIST_PERIOD_LABEL"
			description="COM_SICHTWEITEN_FIELD_LIST_PERIOD_DESC"
			default="14"
		/>
		<field
			name="captcha"
			type="plugins"
			label="COM_SICHTWEITEN_FIELD_CAPTCHA_LABEL"
			description="COM_SICHTWEITEN_FIELD_CAPTCHA_DESC"
			folder="captcha"
			filter="cmd"
			default=""
			>
			<option value="">JOPTION_USE_DEFAULT</option>
			<option value="0">JOPTION_DO_NOT_USE</option>
		</field>
		<field
			name="copyright"
			type="radio"
			label="COM_SICHTWEITEN_FIELD_COPYRIGHT_LABEL"
			description="COM_SICHTWEITEN_FIELD_COPYRIGHT_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field
			name="kommentar_length"
			type="number"
			label="COM_SICHTWEITEN_FIELD_KOMMENTAR_LENGTH_LABEL"
			description="COM_SICHTWEITEN_FIELD_KOMMENTAR_LENGTH_DESC"
			default="50"
			/>
		<field
			name="country"
			type="sql"
			label="COM_SICHTWEITEN_FIELD_DEFAULT_COUNTRY_LABEL"
			description="COM_SICHTWEITEN_FIELD_DEFAULT_COUNTRY_DESC"
			default="CH"
			key_field="kurzzeichen"
			value_field="bezeichnung"
			query="SELECT kurzzeichen, bezeichnung FROM #__sicht_land ORDER BY bezeichnung ASC"
		/>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sichtweiten"
			section="component"
		/>

	</fieldset>
</config>
