<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset
		name="component"
	>
		<field
			name="list_period"
			type="number"
			label="COM_SICHTWEITEN_FIELD_LIST_PERIOD_LABEL"
			description="COM_SICHTWEITEN_FIELD_LIST_PERIOD_DESC"
			default="14"
		/>
		<field
			name="db_type"
			type="list"
			label="COM_SICHTWEITEN_FIELD_DB_TYPE_LABEL"
			description="COM_SICHTWEITEN_FIELD_DB_TYPE_DESC"
			default="mysqli"
			>
			<option value="mysql">MySQL</option>
			<option value="mysqli">MySQLi</option>
		</field>
		<field
			name="db_host"
			type="text"
			label="COM_SICHTWEITEN_FIELD_DB_HOST_LABEL"
			description="COM_SICHTWEITEN_FIELD_DB_HOST_DESC"
			default="localhost"
		/>
		<field
			name="db_database"
			type="text"
			label="COM_SICHTWEITEN_FIELD_DB_DATABASE_LABEL"
			description="COM_SICHTWEITEN_FIELD_DB_DATABASE_DESC"
		/>
		<field
			name="db_user"
			type="text"
			label="COM_SICHTWEITEN_FIELD_DB_USER_LABEL"
			description="COM_SICHTWEITEN_FIELD_DB_USER_DESC"
		/>
		<field
			name="db_pass"
			type="password"
			label="COM_SICHTWEITEN_FIELD_DB_PASS_LABEL"
			description="COM_SICHTWEITEN_FIELD_DB_PASS_DESC"
		/>
		<field
			name="db_prefix"
			type="text"
			label="COM_SICHTWEITEN_FIELD_DB_PREFIX_LABEL"
			description="COM_SICHTWEITEN_FIELD_DB_PREFIX_DESC"
			default="jos_"
		/>
		<field
			name="captcha"
			type="plugins"
			label="COM_SICHTWEITEN_FIELD_CAPTCHA_LABEL"
			description="COM_SICHTWEITEN_FIELD_CAPTCHA_DESC"
			folder="captcha"
			filter="cmd"
			default=""
			>
			<option value="">JOPTION_USE_DEFAULT</option>
			<option value="0">JOPTION_DO_NOT_USE</option>
		</field>
		<field
			name="copyright"
			type="radio"
			label="COM_SICHTWEITEN_FIELD_COPYRIGHT_LABEL"
			description="COM_SICHTWEITEN_FIELD_COPYRIGHT_DESC"
			class="btn-group btn-group-yesno"
			default="0"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="css_icomoon"
			type="radio"
			label="COM_SICHTWEITEN_FIELD_CSS_ICOMOON_LABEL"
			description="COM_SICHTWEITEN_FIELD_CSS_ICOMOON_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sichtweiten"
			section="component"
		/>

	</fieldset>
</config>
